@model IKProject_2512.Models.SignUpModel.SignUpModel

@{
    ViewData["Title"] = "PasswordRenewal";
    Layout = "_LayoutPassword";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 400px;
        /*margin-left: auto;*/
    }

    h4 {
        font-size: 20px;
        text-align: center;
    }

    /*body {
        background-image: url(images/parolayenilemeekranı.jpg);*/
        /*background-size: cover;*/
        /*background-position: center;
        background-attachment: fixed;
        background-size: 100%;
        font-family: sans-serif;
    }*/

    .form-box {
        width: 500px;
        background: rgba(0,0,0,0.8);
        margin-top: 20px;
        margin: 12% auto;
        padding: 50px 0;
        color: white;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    }

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .input-box {
        margin: 31px auto;
        width: 80%;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        padding-bottom: 5px;
    }

        .input-box input {
            width: 90%;
            border: none;
            outline: thin;
            background: white;
            color: rgb(0 0 0);
        }

    ::placeholder {
        color: #808080
    }

    .fas {
        margin-right: 10px;
    }

    .eye {
        position: absolute;
    }

    #hide1 {
        display: none;
    }

    #hide11 {
        display: none;
    }

    .login-btn {
        margin: 40px auto 20px;
        width: 80%;
        display: block;
        outline: none;
        padding: 10px 0;
        border: 2px solid #fff;
        cursor: pointer;
        background: transparent;
        color: #fff;
        font-size: 16px;
    }

    .btn-dark {
        margin: 10px auto 5px;
        width: 50%;
        display: block;
        outline: none;
        padding: 10px 0;
        border: 2px solid #fff;
        cursor: pointer;
        background: transparent;
        color: #fff;
        font-size: 15px;
    }

    .bg-soft-black {
        background-color: #00000099;
    }

    .btn-outline-secondary {
        border-radius: 50px;
    }
</style>
<div class="form-box">
    <form asp-action="PasswordRenewal">

        <h3>Şirket Yöneticisi<br />Parola Yenileme Alanı</h3>

        <div class="input-box">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <i class="fas fa-key"></i>

            <input asp-for="Password" placeholder="Yeni Şifrenizi Giriniz..." id="myInput" />
            <span class="eye" onclick="myFunction()">
                <i id="hide1" class="fas fa-eye"></i>
                <i id="hide2" class="fas fa-eye-slash"></i>
            </span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-box">

            <i class="fas fa-key"></i>
            <input asp-for="LatestPassword" placeholder="Yeni Şifrenizi Tekrar Giriniz..." id="myInput1" />
            <span class="eye" onclick="myFunction()">
                <i id="hide11" class="fas fa-eye"></i>
                <i id="hide22" class="fas fa-eye-slash"></i>
            </span>
            <span asp-validation-for="LatestPassword" class="text-danger"></span>

        </div>

        <div class="form-group">
            <button class="login-btn" asp-route-id="@Model.ID">Kaydet ve Devam Et</button>
        </div>
    </form>

    <script>
        function myFunction() {
            var x = document.getElementById("myInput");
            var y = document.getElementById("hide1");
            var z = document.getElementById("hide2");

            if (x.type == 'password') {
                x.type = "text";
                y.style.display = "block";
                z.style.display = "none";
            }
            else {
                x.type = "password";
                y.style.display = "none";
                z.style.display = "block";
            }

            var a = document.getElementById("myInput1");
            var b = document.getElementById("hide11");
            var c = document.getElementById("hide22");

            if (a.type == 'password') {
                a.type = "text";
                b.style.display = "block";
                c.style.display = "none";
            }
            else {
                a.type = "password";
                b.style.display = "none";
                c.style.display = "block";
            }
        }
    </script>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*<h1>Şirket Yöneticisi Parola Yenileme Ekranı</h1>

    <h4>Lütfen aşağıdaki alana yeni parolanızı giriniz.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="PasswordRenewal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LatestPassword" class="control-label"></label>
                    <input asp-for="LatestPassword" class="form-control" />
                    <span asp-validation-for="LatestPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" asp-route-id="@Model.ID" />
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
