@model IKProject_2512.Areas.Platform.Models.PlatformMgrAddModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .form {
        background: rgba(255,255,255,0.9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 10px;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    }

    h2 {
        text-align: center;
        text-shadow: 0 0 20px 2px rgba(0,0,0,0.9);
        color: deepskyblue;
        font-weight: 800;
        margin: 0 0 30px;
    }
    h3 {
        text-align: center;
        color:black;
    }

    label {
        color: black;
    }

    input, textarea {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        color: black;
    }

    textarea {
        border: 3px solid black;
        resize: vertical;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    /*.form-control {
        color: black;
    }*/

    .form-input {
        width: 300px;
        padding: 20px;
        background: #fff;
        border: 2px dashed #555;
    }

        .form-input input {
            display: none;
        }

        .form-input label {
            display: block;
            width: 100px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #333;
            color: #fff;
            font-size: 12px;
            font-weight: 500;
            border-radius: 10px;
            cursor: pointer;
        }

        .form-input img {
            width: 100px;
            display: none;
            margin-top: 5px;
        }
</style>

<div class="form">

    <div class="tab-content">
        <div id="signup">
            <h2>Platform Yöneticisi</h2>
            <h3>Hesap Güncelleme</h3>

            <form asp-action="Edit" method="post" enctype="multipart/form-data">


                <div class="form-input">
                    <label for="file-ip-1">FotoğrafYükle</label>
                    <input type="file" asp-for="PhotoFile" id="file-ip-1" accept="image/*" onchange="showPreview(event);" />
                    <div class="preview m-1">
                        <img id="file-ip-1-preview" />
                    </div>
                </div>
                <div class="top-row" style="text-transform:capitalize">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Lütfen personelin adını giriniz..." />
                        <span asp-validation-for="Name" class="text-danger font-weight-bolder"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input type="text" asp-for="MiddleName" class="form-control" placeholder="Varsa ikinci adı giriniz..." />
                        <span asp-validation-for="MiddleName" class="text-danger font-weight-bolder"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input type="text" asp-for="Surname" class="form-control" placeholder="Lütfen personelin soyadını giriniz..." />
                        <span asp-validation-for="Surname" class="text-danger font-weight-bolder"></span>
                    </div>
                </div>

                @*<div class="form-group">
                    <label asp-for="MailAddress" class="control-label"></label>
                    <input asp-for="MailAddress" class="form-control" placeholder="Lütfen personelin e-mail adresini giriniz..." />
                    <span asp-validation-for="MailAddress" class="text-danger font-weight-bolder"></span>
                </div>*@

                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input type="date" asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger font-weight-bolder"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input type="date" asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger font-weight-bolder"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea type="text" asp-for="Address" class="form-text" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Address" class="text-danger font-weight-bolder"></span>
                </div>
                <input type="submit" value="Kaydet" class="btn btn-success" asp-route-id="@Model.ID" />
                <hr />
                <a class="btn btn-info btn-block" asp-area="Platform" asp-controller="Home" asp-action="PlatformList">Geri Dön</a>
            </form>

        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.style.display = "block";

        }
    }
</script>
@*<h4>Hesap Güncelleme Ekranı</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="PhotoPath" />

                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="PhotoFile" class="control-label"></label>
                    <input type="file" asp-for="PhotoFile" class="form-control-file" />
                </div>

                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="Name" class="control-label"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="MiddleName" class="control-label"></label>
                    <input type="text" asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>

                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="Surname" class="control-label"></label>
                    <input type="text" asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MailAddress" class="control-label"></label>
                    <input type="email" asp-for="MailAddress" class="form-control" />
                    <span asp-validation-for="MailAddress" class="text-danger"></span>
                </div>
                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input type="date" asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="HireDate" class="control-label"></label>
                    <input type="date" asp-for="HireDate" class="form-control" />
                    <span asp-validation-for="HireDate" class="text-danger"></span>
                </div>

                <div class="form-group" style="border:2px solid gray;border-radius:2px;">
                    <label asp-for="Address" class="control-label"></label>
                    <textarea type="text" asp-for="Address" class="form-text" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-success" asp-route-id="@Model.ID" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-info" asp-area="Platform" asp-controller="Home" asp-action="PlatformList">Geri Dön</a>
    </div>*@





