<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8653b1fc-f542-45fb-9e8b-a850b6092200/resourceGroups/IKManagement/providers/Microsoft.Web/sites/ikmanagement</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ikmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>1c4759cb-6441-43bb-8066-0fbc4d030d02</ProjectGuid>
    <PublishUrl>https://ikmanagement.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ikmanagement</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>